{% extends 'blog/base.html' %}

{% block content %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% else %}
			<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
		{% endif %}
		{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
		{% endif %}
		<h2>{{ post.title }}</h2>
		<p>{{ post.text|linebreaksbr }}</p>
		<div>
			<div class="like_icon">
				{% if liked %}
				<a href="{% url 'post_like' pk=post.pk %}"><i class="glyphicon glyphicon-thumbs-up liked_color"></i></a>
				{% else %}
				<a href="{% url 'post_like' pk=post.pk %}"><i class="glyphicon glyphicon-thumbs-up icon_black"></i></a>
				{% endif %}
				{{ post.likes_count }} ----- 
				{{ likes_percent|floatformat:2 }}% approval
			</div>
			<div class="like_icon">
				{% if disliked %}
				<a href="{% url 'post_dislike' pk=post.pk %}"><i class="glyphicon glyphicon-thumbs-down disliked_color"></i></a>
				{% else %}
				<a href="{% url 'post_dislike' pk=post.pk %}"><i class="glyphicon glyphicon-thumbs-down icon_black"></i></a>
				{% endif %}
				{{ post.dislikes_count }} ----- 
				{{ dislikes_percent|floatformat:2 }}% disapproval
			</div>
		</div>
		<div class="date">
			{{ post.views }} Views
		</div>	
	</div>
	<hr>
	<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
	{% for comment in post.comments.all %}
	    {% if user.is_authenticated or comment.approved_comment %}
		<div class="comment">
			<div class="date">
				{{ comment.created_date }}
				{% if not comment.approved_comment %}
					<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
					<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
				{% endif %}
			</div>
			<strong>{{ comment.author }}</strong>
			<p>{{ comment.text|linebreaks }}</p>
		</div>
		{% endif %}
	{% empty %}
		<p>No comments here yet :(</p>
	{% endfor %}
{% endblock %}