{% extends 'biblioteca/base.html' %}

{% block title %}Esqueceu sua senha?{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div id="cover-caption">
		<div id="container" class="container">
			<div class="row">
				<div class="col-sm-6 offset-sm-3 text-center">
					<form method="POST" class="container form-group form-inlin justify-content-center" >
						<div>
							<div class="col-md-6 mb-3">
								<h1 >Esqueceu sua senha?</h1>
  								<p>Insira seu email abaixo, enviaremos instruções para uma nova senha.</p>
								{% csrf_token %}
						 		{% crispy form %}
								<input type="submit" value="Enviar!">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}