{% extends 'biblioteca/base.html' %}

{% block title %}Enter new password{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div id="cover-caption">
		<div id="container" class="container">
			<div class="row">
				<div class="col-sm-6 offset-sm-3 text-center">
					<form method="POST" class="container cadastros form-group form-inlin justify-content-center" >
						<div>
							<div class="col-md-6 mb-3">
								<h1>Defina uma nova senha!</h1>
  								{% csrf_token %}
							  	{% crispy form %}
  								<input type="submit" value="Enviar!">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}