{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/biblioteca.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="utf-8">
	<title>Biblioteca Online</title>
</head>
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="inicio btn btn-outline-primary" href="{% url 'biblioteca:index' %}">Biblioteca Online</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="nav justify-content-center mx-5">
		<div class="dropdown">
			<button class="dropdown-toggle btn btn-outline-success ml-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{% url 'biblioteca:cadastrarAluno' %}">Alunos</a>
				<a class="dropdown-item" href="{% url 'biblioteca:cadastrarLivro' %}">Livros</a>
				<a class="dropdown-item" href="{% url 'biblioteca:cadastrarEmprestimo' %}">Emprestimos</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropdown-toggle btn btn-outline-success ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visualizar</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{% url 'biblioteca:exibirAlunos' %}">Alunos</a>
				<a class="dropdown-item" href="{% url 'biblioteca:exibirLivros' %}">Livros</a>
				<a class="dropdown-item" href="{% url 'biblioteca:exibirEmprestimos' %}">Emprestimos</a>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="btn btn-outline-danger ml-3" href="{% url 'blog:post_list' %}">Blog</a>
				</li>
			</ul>
	</div>
	</div>
	<div class="ml-auto">
		{% if user.is_authenticated %}
			Olá {{ user.username }}
		{% else %}
		<div class="btn-group">
  			<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessar</button>
				<div>
					<ul class="dropdown-menu dropdown-menu-right form-wrapper">
						<li>
							<form class="px-4 py-3">
								<div class="form-group">
									<label for="exampleDropdownFormEmail1">Email</label>
									<input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@examplo.com">
								</div>
								<div class="form-group">
									<label for="exampleDropdownFormPassword1">Senha</label>
									<input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Senha">
								</div>
								<button type="submit" class="btn btn-primary">Entrar</button>
							</form>
							<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'users:signup' %}">Primeira vez aqui? Cadastre-se</a>
								<a class="dropdown-item" href="{% url 'password_reset' %}">Esqueceu a senha?</a>
						</li>
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
</header>
<body>
	
	{% block content %}
	{% endblock %}
</body>
</html>